@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Nunito", sans-serif;
  text-align: center;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    357deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(85, 181, 20, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#titulo {
  font-size: 3rem;
  color: white;
}
#descripcion {
  color: white;
}
